/***************************Setting colors***************************/
//primary
$primarydarkRed: #901c1c;
$primaryLightRed: #d3573c;
//Secondary
$secondaryDarkRed: #901c1c;
$secondaryLightRed: #db8876;
$secondaryDarkGray: #525252;
$backgroundGrey: #fafafa;
$secondaryLightGray: #fafafa;
//text
$white: #ffffff;
$black: #000000;
$grey: #757575;
$darkTextColor: #525252;
$inputText: #312e2e;
