/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/**************************setting text***************************/

h1,
h2,
.form_text {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

.photographer_tag {
  font-size: 13px;
  font-weight: 700;
}

.salary {
  font-size: 13px;
}

.profil_name,
.modale_title,
.photographer_name {
  font-size: 64px;
  font-weight: 400;
}
.profil_country {
  font-weight: 400;
  font-size: 24px;
}
.profil_tagline {
  font-size: 18px;
}

.filter_title,
.dropdown_text {
  font-weight: 700;
  font-size: 18px;
}

.lightbox_title,
.img_title {
  font-size: 24px;
}

.footer_like_number,
.footer_salary {
  font-size: 24px;
  font-weight: 500;
}
