/**********************************************************************/
/*********************************lightbox*****************************/
/**********************************************************************/
.lightbox_container {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  background-color: $white;

  .lightbox_wrapper {
    position: relative;
    display: flex;
    z-index: 11;
    align-items: center;
    width: 1050px;
    height: 900px;
    margin: 0 auto;

    @media screen and (max-width: 1250px) {
      width: 800px;
      height: 650px;
    }

    .closing_cross {
      position: absolute;
      zoom: 200%;
      right: -40px;
      top: 10px;
      cursor: pointer;
    }

    .previous,
    .next {
      zoom: 200%;
      cursor: pointer;
    }

    .image_switch {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 45%;
      left: -7%;
      right: -7%;
      width: 115%;
    }
    .lightbox_videos {
      width: 1050px;
      height: 900px;

      @media screen and (max-width: 1250px) {
        width: 800px;
        height: 650px;
      }
    }

    .lightbox_pictures {
      width: 1050px;
      height: 900px;

      @media screen and (max-width: 1250px) {
        width: 800px;
        height: 650px;
      }
    }
    .lightbox_title {
      text-align: left;
      color: $primarydarkRed;
    }
  }
}
