#contact_modal {
  display: none;
}

/****************section photographer header**********************/

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.profil_container {
  display: flex;
}

.profil_image {
  height: 200px;
  width: 200px;
}

/****************new css // pictures cards**********************/

.medias_articles {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.pictures {
  object-fit: cover;
  width: 350px;
  height: 300px;
}

.videos {
  object-fit: cover;
  width: 350px;
  height: 300px;
}

.information_wrapper {
  display: flex;
  justify-content: space-between;
}

.like_wrapper {
  display: flex;
}

/*********************************************/

/********************Footer************************/

.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: pink;
  width: 376px;
  height: 100px;
}

/*********************************************/
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/***************lightbox****************/

.lightbox_container {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  background-color: rgb(255, 255, 255);
}

.lightbox_wrapper {
  position: relative;
  display: flex;
  z-index: 7;
  align-items: center;
  width: 1050px;
  height: 900px;
  margin: 0 auto;
}

.closing_cross {
  position: absolute;
  z-index: 8;
  right: 0px;
  top: -20px;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
}

.image_switch {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: -25px;
  width: 1100px;
}

.lightbox_pictures {
  width: 1050px;
  height: 900px;
}
